node_modules/
release/
.packs-build/
how-to-be-a-hero.zip
*.log
npm-debug.log*
.DS_Store
packs/rules/CURRENT
packs/rules/LOCK
packs/rules/LOG
.gitignore
.gitignore
packs/rules/MANIFEST-000002
packs/rules/LOG.old
.gitignore
packs/rules/MANIFEST-000006
